:root {
    --blue: #0034cd;
    --orange: #ec7545;
    --gold: #efb03e;
    --lime: #98ff32;
    --rose: #cd5096;
}

@font-face {
    font-family: Futura-Med;
    src: url(FuturaStd-Medium.otf);
}

html, body {
    height: 100%;
    margin: 0;
}

html {

}

body {
    font-family: Futura-Med;
    width: 100%;
    background-image: linear-gradient(165deg, var(--lime), var(--rose), var(--gold));
}

#topbar {
    position: absolute;
    top: 0px; left: 0px;
    height: 20px;
    width: 100%;
    background-color: black;
}

#toplogo {
    max-width: 40%;

}

#coming-soon {
    text-align: center;
    margin-top: 15vh;
}

footer {
    display: none;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2%;
}