:root {
    --blue: #0034cd;
    --orange: #ec7545;
    --gold: #efb03e;
    --lime: #98ff32;
    --rose: #cd5096;
}

@font-face {
    font-family: Futura-Med;
    src: url(FuturaStd-Medium.otf);
}

html {
    background-color: black;
    margin: auto;
    min-height: 700px;
    max-height: 100vh;
}

body {
    height: 100%;
    overflow: hidden;
    /* min-height: 700px; */
    max-height: 100%;
    overflow: scroll;
    align-self: center;
    margin: auto;
    font-family: Futura-Med;
    width: 100%;
    background-image: linear-gradient(165deg, var(--lime), var(--rose), var(--gold));
}

main {
    min-height: 700px;
}

header {
    color: white;
}

header section {
    padding-top: 0;
}

header h2 {
    transform: translateY(-7px);
}

header h3 {
    font-size: 0.8em;
    padding-left: 5px;
}

#hand {
    position: fixed;
    display: block;
    left: 10vw;
    max-height: 40px;
    animation-name: hand;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#menu-toasttab {
    position: absolute;
    font-size: 1.5em;
    bottom: 5px;
    right: 5px;
    z-index: 2;
}

#menu-toasttab a {
    color: var(--gold);
    text-decoration: none;
}

.fadein {
    animation: fadein 2s forwards;
}

.fadeout {
    animation: fadeout 2s forwards;
}

@keyframes hand {
    from {top: 22vh;}
    to {top: 23vh;}
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1}
}

@keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0}
}

#nacho-menu {
    display: none;
}

#nacho-rule {
    opacity: 0;
    position: fixed;
    transition: 1s;
    left: 70%;
    bottom: 85px;
    font-size: 3vh;
    margin-right: 5px;
}

#socials {
    padding-right: 10px;
}

#socials img {
    padding: 5px;
    height: 40px;
}

#topbar {
    position: absolute;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    height: 40px;
    min-height: 40px;
    width: 100%;
    background-color: black;
    z-index: 2;
}

.moveit {
    top: 10%;
    display: block;
}

@keyframes moveit {
    0% {top: -10px;}
    100% {opacity: 10vh}
}

#toplogo {
    position: relative;
    cursor: pointer;
    max-height: 25vh;
    min-height: 20vh;
    margin-bottom: 0;
    padding-bottom: 0;
    transition: 0.75s;
}

#maintext-wrapper {
    margin-top: 35vh;
}

#coming-soon {
    height: 100%;
    text-align: center;
    width: 100%;
    color: white;
    z-index: 9;
    font-size: 1.5em;
    transform: translateY(-15vh);
}

#coming-soon h2 {
    font-size: 1.25em;
}

#coming-soon h3 {
    font-size: 0.9em;
}

#coming-soon p {
    font-size: 0.75em;
}

#about-us {
    max-width: 75%;
    margin: 0 auto;
    /* font-size: 1.5em; */
    /* transform: translateY(-15vh); */
}

#nacho-styles {
    /* transform: translateY(-15vh); */
}

#surprise-top {
    position: relative;
    color: black;
    height: 80%;
    background-image: url('./surprise-bg-landscape.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#surprise-soon {
    background-image: url('./compbook.jpg');
    width: 100%;
    height: 2%;
    border-bottom: 2px solid black;
}

#surprise-soon p {
    max-width: 75%;
    margin: 0 auto;
}

#surprise {
    display: flex;
    background-image: linear-gradient(0deg, black, var(--blue), var(--lime), var(--gold));
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 130vh;
    text-align: center;
    margin: 0 auto;
    color: white;
    z-index: 3;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    position: fixed;
    bottom: 0px;
    height: 90px;
    max-height: 8em;
    width: 100%;
    color: white;
    z-index: 2;
    /* padding-bottom: 5%; */
}

#place {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#hours {
    line-height: 0.1;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#hours a {
    color: #f3e8d4;

}

#socials {
    margin: auto 0;
}

@media only screen and (orientation: portrait) {
    #nacho-rule {
        font-size: 2vh;
    }

    #toplogo {
        transform: translateY(10px);
    }


    #hand {
        left: 25vw;
    }

    #surprise-top {
        position: relative;
        color: black;
        height: 80%;
        background-image: url('./surprise-bg-portrait.webp');
        background-position: 0px 22vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

#surprise-box {
    position: absolute;
    background: hsla(120, 1%, 52%, 0.6);
    border: 2px solid gold;
    color: var(--gold);
    text-shadow: 2px 2px 2px black;
    font-size: 1.5em;
    z-index: 33;
    height: 55%;
    width: 40vw;
    margin: 0 auto;
    bottom: 10%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#surprise-box h2 {
    cursor: pointer;
}

@media screen and (aspect-ratio > 1) {
    #toplogo {
        transform: translateY(-20px);
    }

}

@media screen and (max-width: 500px) {
    #place, #hours {
        font-size: 0.6em;
        align-self: center;
    }

    #hours a {
        font-size: 1.5em;
    }
    
    #toplogo {
        position: relative;
        transform: translateY(-10px);
        max-height: 18vh;
    }

    #surprise {
        background-color: black;
    }
    
}

@media screen and (orientation: portrait) and (max-height: 900px) {
    #surprise-box {
        height: 45%;
        bottom: 20%;
        justify-content: center;
        line-height: 0em;
    }

    @keyframes hand {
        from {top: 20vh;}
        to {top: 22vh;}
    }
}